<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <title>Accueil</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Bienvenue sur le meilleur site d'escalade !</h1>
                <p>Vous pouvez rechercher des topos par région et les réserver.</p>
            </div>
            <!-- Include _menu.html -->
            <th:block th:include="/_menu"></th:block>

            <div class="dropdown">
                <form action="#" th:action="@{/topos}" th:object="${searchForm}"  modelAttribute="searchForm" method="post">
                    <div class="form-group"  >
                        <div th:if="${regions != null }">
                            <p>Régions :<br>
                                <span th:each="region : ${regions}">
                                    <input type="checkbox" name="regionsChoisi" th:value="${region[0]}"/>
                                    <label th:text="${region[1]} + ' (' + ${region[2]} +')'"></label>
                                    <br>
                                </span>
                            </p>
                        </div>
                        <br>
                        <label for="startDate">Date début</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" placeholder="01/01/2020"/>

                        <label for="endDate">Date fin</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" placeholder="01/01/2020"/>

                    </div>
                    <button style="margin-top:10px" class="btn btn-default" type="submit">Submit</button>
                </form>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>