<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title th:text="#{spot.createTitle}">nouveau site</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 th:text="#{spot.createTitleBody}">création d'un nouveau site</h1>
    </div>
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <div class="dropdown">
        <form action="#" th:action="@{/spot/add}" th:object="${spot}" method="post">
            <div class="form-group"  >
                <div th:if="${regions != null }">
                    <p>Régions :<br>
                        <select th:field="*{region_id}">
                            <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.name}">Occitanie</option>
                        </select>
                        <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}" th:errorclass="fieldError">Name Error</span>
                    </p>
                </div>
            </div>

            <div class="form-group"  >
                <div th:if="${topos != null }">

                        <p>Topos :<br>
                            <span th:each="checkboxItem : ${topos}">
                                    <input type="checkbox" name="topos" th:value="${checkboxItem.id}"/>
                                    <label th:text="${checkboxItem.getName()}"></label>
                                    <br>
                                </span>
                        </p>

                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('name')}? has-error" >
                    <label for="name" th:text="#{spot.createName}">nom</label>
                    <input type="text"  class="form-control" th:field="*{name}" placeholder=""/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError">Name Error</span>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('description')}? has-error" >
                <label for="description" th:text="#{spot.createDescription}">blabla</label>
                <input type="text" class="form-control" th:field="*{description}" placeholder=""/>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="fieldError">Name Error</span>
            </div>
            <div class="form-group" >
                <label th:for="${{enumcat}}" th:text="#{form.spot.field.category}">category</label>
                <select th:field="*{category}">
                    <option th:each="enumcat : ${T(com.oc.projet3.escalade.entities.Spot.Categories).values()}"
                            th:value="${enumcat}"
                            th:id="${{enumcat}}"
                            th:text="#{'form.spot.field.category.'+${{enumcat}}}">
                    </option>
                </select>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('place')}? has-error" >
                <label for="place" th:text="#{form.spot.label.field.place}">blabla</label>
                <input type="text" class="form-control" th:field="*{place}" placeholder=""/>
                <span th:if="${#fields.hasErrors('place')}" th:errors="*{place}" th:errorclass="fieldError">Name Error</span>
            </div>
            <button style="margin-top:10px" class="btn btn-default" type="submit">Submit</button>
        </form>

    </div>
</div>

</body>
</html>