<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title th:text="${topo.getName()}"></title>

</head>
<body>
<div class="container">
    <div class="jumbotron clearfix">
        <h1 align="center" th:text="${topo.getName()}"></h1>
    </div>
    <!--MENU-->
    <th:block th:insert="_menu"></th:block>
    <a href="#" class="badge badge-primary" th:text="#{topo.resa}">réserver</a>
    <!--COMMENTS-->
    <th:block th:insert="fragment/comments"></th:block>

    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">site</th>
            <th scope="col">lieu</th>
            <th scope="col">categorie</th>
            <th scope="col">description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spot,iter : ${topo.getSpots()}">
            <th scope="row"><span th:text="${iter.count}"></span></th>
            <td> <a th:href="@{/spot(id=${spot.getId()})}"><span th:text="${spot.getName()}"></span></a></td>
            <td> <span th:text="${spot.getPlace()}"></span></td>
            <!-- <td>${ site.description }</td> -->
            <td> <span th:text="${spot.getCategory()}"></span></td>
            <!-- <td><a href="#" data-toggle="tooltip" data-placement="right" title="${ site.description }">desc.</a> -->
            <td><a href="#" placement="leftbottom" th:title="${spot.getName()}" data-toggle="popover" data-trigger="hover" th:attr="data-content=${spot.getDescription()}">desc</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>